@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");Add commentMore actions
body {
  padding: 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

a {
  color: steelblue;
}
a:visited {
  color: purple;
}
a:hover,
a:focus {
  color: dodgerblue;
  background-color: gold;
}
a:active {
  color: red;
}